[Unit]
Description=NewTON miner
After=network.target

[Service]
Restart=always
RuntimeMaxSec=43200
WorkingDirectory=/hive/miners/custom/downloads
ExecStart=/hive/miners/custom/downloads/tonlib-opencl-cli -v 3 -C global.config.json -e "pminer start kf8gf1PQy4u2kURl-Gz4LbS29eaN4sVdrVQkPO-JL80VhOe6 EQCe72tW1EGwGhkUI3Q4hZskOQ99Fg8jQKBAhavRAy8fjR3R 5 32 0"
[Install]
WantedBy=multi-user.target
Alias=miner5.service
