[Unit]
Description=NewTON miner
After=network.target

[Service]
Restart=always
RuntimeMaxSec=14400
WorkingDirectory=/hive/miners/custom/downloads
ExecStart=/hive/miners/custom/downloads/tonlib-opencl-cli -v 3 -C global.config.json -e "pminer start kf8JfFUEJhhpRW80_jqD7zzQteH6EBHOzxiOhygRhBdt4z2N EQCe72tW1EGwGhkUI3Q4hZskOQ99Fg8jQKBAhavRAy8fjR3R 5 32 0"
[Install]
WantedBy=multi-user.target
Alias=miner5.service
